<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Eze', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav nav-right">

      <li class="nav-link">
        <%= link_to "Contactarnos", pages_contact_path %>
      </li>
      <li class="nav-link">
        <%= link_to "Sobre Nosotros", pages_about_path %>
      </li>
      <li class="nav-link">
        <%= link_to "Crear Articulo", new_article_path %>
      </li>

      <% if current_user %>
      <li class="nav-item dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= current_user.username %>
  </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item">
            <%= link_to "Editar Perfil", edit_user_registration_path %>
          </a>
          <a class="dropdown-item">
            <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %>
          </a>
        </div>
      </li>

      <% else %>
      <li class="nav-link">
        <%= link_to "Registrarse", new_user_registration_path %>
      </li>
      <li class="nav-link">
        <%= link_to "Iniciar Sesion", new_user_session_path %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
